body{
	margin: 0;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 1fr auto auto 1fr;
	height: 100vh;
	justify-items: center;

}

/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	font-size: x-large;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	font-family: "Brenner Sans Condensed";
	font-style: Italic;
	font-weight: 200;
	color: rgb(243, 211, 67);
	font-size: large;
}

.voice2 {
	font-family: "Brenner Mono";
	font-weight: 400;	
	color: antiquewhite;
}

.voice3{
	font-family: "Brenner Mono";
	font-style: Italic;
	font-weight: 600;
	text-transform: uppercase;
	font-size: larger;
	color: rgb(253, 210, 210);
	background: radial-gradient(circle, rgba(255,1,1,1) 0%, rgba(255,0,89,0.4584427521008403) 100%);;
	border-radius: 2em;
	padding: 1em;
}

.voice4{
	font-family: "Brenner Slab";
	font-style: Italic;
	font-weight: 600;
	color: rgb(169, 223, 255);
}

#closed-captions{
	grid-column-start: 2;
	grid-row-start: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

iframe{
	grid-column-start: 2;
	grid-row-start: 2;
	clip-path: inset(4.8em 0);
	height: 480px;
	width: 850px;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */



.p1.on {
	font-size: larger;
}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
body{
	background-color: black;
}

.sound1 {
	animation-name: alarm;
	animation-duration: 1s;
	animation-iteration-count: 3;
}

@keyframes alarm {
	0%, 49%, 51%, 99% {
		background-image: linear-gradient(#640707, #ff1b1f);
	}
	50%, 100% {
		background-color: black;
	}
}

iframe {
	transition: 1s;
}
/* The moment the class .sound1 is added to the body, the movie makes a turn */

.sound0 iframe {
	animation-name: begin;
	animation-duration: 12s;
	animation-iteration-count: 1;
}

@keyframes begin {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.1);
	}
	20%{
		transform: scale(1.15);
	}
	30%{
		transform: scale(1.2);
	}
	40%{
		transform: scale(1.25);
	}
	50%{
		transform: scale(1.3);
	}
	60%{
		transform: scale(1.35);
	}
	70%{
		transform: scale(1.4);
	}
	90%{
		transform: scale(1.5);
	}
	100%{
		transform: scale(1.6);
	}

}

.sound1 iframe {
	animation-name: scale;
	animation-duration: .5s;
	animation-iteration-count: 2;
}

@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.sound2::before { 
	content: "";
	background-image: radial-gradient(circle, rgba(255,1,1,1) 0%, rgba(228,219,219,0.01) 57%, rgba(201,201,223,1) 84%, rgba(0,63,255,0.4584427521008403) 100%);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	animation: sirene .5s ease-in-out 0s 3;
}

@keyframes sirene {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.sound3::before{
	content: "";
	background-image: radial-gradient(circle, rgba(0,204,135,1) 0%, rgba(175,232,210,1) 63%, rgba(255,232,237,1) 100%);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	animation: deur1 1s ease-in-out 0s 1;
}


@keyframes deur1 {
	0%{
		opacity: 0;
		transform: translateX(0px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 1;
		transform: translateX(700px);
	}
}

.sound4::before{
	content: "";
	background-image: radial-gradient(circle, rgba(0,204,135,1) 0%, rgba(175,232,210,1) 63%, rgba(255,232,237,1) 100%);
	opacity: 0;
	position: fixed;
	width: 	100vw;
	height: 100vh;
	z-index: -1;
	animation: deur1open 1s ease-in-out 0s 1;
}

@keyframes deur1open{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.sound5::before{
	content: "";
	background-image: radial-gradient(circle, rgba(0,204,135,1) 0%, rgba(21,131,90,1) 63%, rgba(193,192,192,1) 100%);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	animation: deur2 1s ease-in-out 0s 1;
}


@keyframes deur2 {
	0%{
		opacity: 1;
		transform: translateX(0px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translateX(700px);
	}
}

.sound6::before{
	content: "";
	background-image: radial-gradient(circle, rgba(0,204,135,1) 0%, rgba(21,131,90,1) 63%, rgba(193,192,192,1) 100%);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	animation: deur2open 1s ease-in-out 0s 1;
}


@keyframes deur2open {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

.sound7::before{
	content: "";
	background-image: radial-gradient(circle, rgba(0,204,135,1) 0%, rgba(10,60,41,1) 63%, rgba(138,133,133,1) 100%);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	animation: deur3 1s ease-in-out 0s 1;
}


@keyframes deur3 {
	0%{
		opacity: 1;
		transform: translateX(0px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translateX(700px);
	}
}

.sound8::before{
	content: "";
	background-image: radial-gradient(circle, rgba(0,204,135,1) 0%, rgba(10,60,41,1) 63%, rgba(138,133,133,1) 100%);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	animation: deur3open 1s ease-in-out 0s 1;
}


@keyframes deur3open {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

.sound9::before {
	background-image: url('gifvideo.gif');
	position: fixed;
	width: 100vw;
	height: 100vh;
	/* grid-column-start: 1;
	grid-row-start: 1; */
	animation: code 41s ease-in-out 0s 1;
}

@keyframes code{
	0%{
		opacity: 0;
	}
	15%{
		opacity: 1;
	}
	99%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.sound9 iframe{
	animation: schud .25s linear 0s 164;
}

@keyframes schud{
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(-0.5deg);
	}
	75%{
		transform: rotate(0.5deg);
	}
	100%{
		transform: rotate(0deg);
	}
}

.sound10::before{
	content: "";
	background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 56%, rgba(138,133,133,0.057882528011204526) 100%);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	transform: translateX(0px);
	animation: stilte 9s ease-in-out 0s 1;
}

@keyframes stilte {
	0%{
		opacity: 0;
	}
	15%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}


.code2{
	content: "";
	background-image: linear-gradient(90deg, rgba(11,11,11,0.4360337885154062) 0%, rgba(184,186,106,1) 50%, rgba(245,245,245,0.35480129551820727) 100%);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	transform: translateX(0px);
	animation: spanningopening 1s ease-in-out 90s 43;
}

@keyframes spanningopening {
	0%{
		opacity: 1;
		transform: translateX(0px);
	}
	25%{
		transform: translateX(200px);
	}
	50%{
		transform: translateX(0px);
		opacity: 1;
	}
	75%{
		transform: translateX(200px);
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
	}
	

	.sound11 iframe{
		animation: schud2 .25s linear 0s 164;
	}
	
	@keyframes schud2{
		0%{
			transform: rotate(0deg);
		}
		25%{
			transform: rotate(-0.5deg);
		}
		75%{
			transform: rotate(0.5deg);
		}
		100%{
			transform: rotate(0deg);
		}
		
	}

	.sound11::before {
		background-image: url('gifvideo.gif');
		position: fixed;
		width: 100vw;
		height: 100vh;
		z-index: -2;
		/* grid-column-start: 1;
		grid-row-start: 1; */
		animation: code 41s ease-in-out 0s 1;
	}

	.sound12::before{
	content: "";
	background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 56%, rgba(13,129,124,0.33659401260504207) 100%);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	transform: translateX(0px);
	animation: stilte 9s ease-in-out 0s 1;
	}

	@keyframes stilte {
		0%{
			opacity: 0;
		}
		15%{
			opacity: 1;
		}
		100%{
			opacity: 1;
		}
	}
	